<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Spring MVC - Upload File</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  
<script type="text/javascript" >
//using jquery.form.js
function uploadJqueryForm(){
	alert('uploadJqueryForm');
    $('#result').html('');
   $("#form2").ajaxForm({
	success:function(data) { 
	      //$('#result').text(data+" uploaded by Jquery Form plugin!");
	      $('#result').html(data);
	 },
	 dataType:"text"
   }).submit();
}
//---------------------------------------------------------
//using FormData() object
function uploadFormData(){
	alert('uploadFormData');
    $('#result').html('');
  var oMyForm = new FormData();
  oMyForm.append("file", file2.files[0]);
  
  $.ajax({
    url: 'upload',
    data: oMyForm,
    dataType: 'text',
    processData: false,
    contentType: false,
    type: 'POST',
    success: function(data){
    //  $('#result').html(data+ " uploaded by FormData!");
      $('#result').html(data);
    }
  });
}
</script>
</head>

<body>
<h1>Con el Thymelefa</h1> 

<form id="myform"  action="#"  th:action="@{/upload}" th:object="${Images}" method="POST" modelAttribute="Images"  enctype="multipart/form-data">
	<input type="file"   th:field="${Images.image}"  name="file"/>
    <input type="submit" value="Upload"/>
</form>







<form method="POST" enctype="multipart/form-data"
		action="/upload">
		File to upload: <input type="file" name="file"><br /> Name: <input
			type="text" name="name"><br /> <br /> <input type="submit"
			value="Upload"> Press here to upload the file!
	</form>

<!--  Form 1 -->
<i>Uploading File Without Ajax</i><br/>

 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

<form id="form1" method="post" action="/upload" enctype="multipart/form-data" name="file" accept-charset="iso-8859-1">
  
  <!-- File input -->     
  <input name="file" id="file" type="file" /><br/>
  
  <input type="submit" value="Upload" />
</form>
<hr/>
<i>Uploading File With Ajax</i><br/>

<!--  Form 2 -->
<form id="form2" method="post" action="/upload" enctype="multipart/form-data" accept-charset="iso-8859-1,utf-8">
  <!-- File input -->     
  <input name="file2" id="file2" type="file" /><br/>
</form>

<button value="Submit" onclick="uploadJqueryForm()" >Upload</button><i>Using JQuery Form Plugin</i><br/>
<button value="Submit" onclick="uploadFormData()" >Upload</button><i>Using FormData Object</i>

<div id="result"></div>
</body>
</html>